<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    <div fxFlex="40">    
        <div fxFlex>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{ BaseURL + dish.image }}" alt="{{dish.name}}">

                <mat-card-content>
                    <p>{{dish.description}}</p>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-button [routerLink]="['/dishdetail', prev]">
                        <span class="fa fa-chevron-left fa-lg"></span>
                    </button>
                    <button mat-button (click)="goBack()">BACK</button>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                    <span class="flex-spacer"></span>
                    <button mat-button [routerLink]="['/dishdetail', next]">
                        <span class="fa fa-chevron-right fa-lg"></span>
                    </button>
                </mat-card-actions>

            </mat-card>
        </div>
    </div>

    <div fxFlex="40">
        <mat-list fxFlex >
            <h2>Comments</h2>
            <mat-list-item *ngFor="let dishdetail of dish.comments">
                <p matLine>
                    {{dishdetail.comment}}<br>
                </p>
                <p matLine>
                    {{dishdetail.rating}} Starts <br>
                </p>
                <p matLine>
                    -- {{dishdetail.author}} {{dishdetail.date | date}}
                </p>
            </mat-list-item>

            <mat-list-item *ngIf="dishcommentForm.status == 'VALID'">
                <p matLine>
                    {{dishcommentForm.value.comment}} 
                </p>
                <p matLine>
                    {{dishcommentForm.value.rating}} Starts
                </p>
                <p matLine>
                    {{dishcommentForm.value.author}} 
                </p>
            </mat-list-item>

            <!-- <p>{{ dishcommentForm.value | json }} {{ dishcommentForm.status | json }}</p> -->
            <form novalidate [formGroup]="dishcommentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
                <p>
                    <mat-form-field class="half-width">
                        <input matInput formControlName="author" placeholder="Name" type="text">
                        <mat-error *ngIf="formErrors.author">
                            {{formErrors.author }}
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-slider formControlName="rating" min="1" max="5" thumbLabel tickInterval="1" ></mat-slider>
                </p>
                <p>
                    <mat-form-field class="half-width">
                        <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>                        
                        <mat-error *ngIf="formErrors.comment">
                            {{formErrors.comment }}
                        </mat-error>
                    </mat-form-field>
                </p>
                <button type="submit" mat-button class="background-primary text-floral-white"
                    [disabled]="dishcommentForm.invalid">Submit</button>
            </form>

        </mat-list> 
    </div>

    <div fxFlex [hidden]="dish">
        <mat-spinner></mat-spinner> <h4>Loading... Please Wait!</h4>
    </div>

</div>